{% extends 'base.html.twig' %}

{% block title %}Liste des formations!{% endblock %}

{% block body %}
<h1>Liste des formations!</h1>


{% for formation in formations %}
{# {{...}} correspond a l'echo en symfony #}
{# .raisonSociale va appeler le Getter de raison social que l'on retrouve dans formation.php #}
<a href="{{ path('afficherDetail_formation', {'id': formation.id}) }}">{{ formation }}</a>  
<a href=" {{ path('edit_formation', {'id' : formation.id}) }}" type="button" class="btn btn-warning">Edit</a><br>
<a href=" {{ path('delete_formation', {'id' :formation.id}) }}" type="button" class="btn btn-danger">Supp</a><br>
{% endfor %}


<a href="{{path('add_formation')}}" type="button" class="btn btn-success">Ajouter une formation</a><br>

{% endblock %}
